<%= image_tag @resort.image_path %>
<h3> Overall Rating: <%= @resort.rating %> </h3>
<h3> Average Yearly Snow Accumulation: <%= @resort.average_season_accumulation %> inches</h3> 

<ul>
  <li><%= link_to "View Lifts", resort_lifts_path(@resort) %></li>
  <li><%= link_to "Edit Resort", edit_resort_path(@resort) %></li>
  <li><%= link_to "All Resorts", resorts_path %></li>
</ul>

<ul>
  <li><%= link_to "Delete", resort_path(@resort), method: :delete %></li>
</ul>